@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Variables */
:root {
  --spacing-xxs: .1rem;
  --spacing-xs: .2rem;
  --spacing-sm: .4rem;
  --spacing-md: .8rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 3.2rem;
  --color-hp-meter: #6bb338;
  --color-mp-meter: #08acff;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.powerrollable:hover, .powerrollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.applyeffect:hover, .applyeffect:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.mpcost:hover, .mpcost:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-sm);
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-row-span-2 {
  grid-row-end: span 2;
}

.grid-powertable {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
}
.pt-item {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.pt-label {
  background-color: black;
  color: white;
}


.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-group-top {
  align-content: flex-start;
  align-items: start;
}

.flex-group-bottom {
  align-content: flex-end;
  align-items: end;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.align-top {
  align-content: flex-start;
  text-align: center;
}

.align-bottom {
  align-content: flex-end;
  text-align: center;
}

.textalign-left {
  text-align: left;
}

.textalign-center {
  text-align: center;
}

.textalign-right {
  text-align: right;
}

.nogap {
  gap: 0px;
}

.gap-s {
  gap: 1px;
}

.gap-m {
  gap: 5px;
}

.gap-l {
  gap: 10px;
}

.nomargin {
  margin: 0px;
}

.margin-s {
  margin: 2px 0;
}

.margin-m {
  margin: 8px 0;
}

.margin-l {
  margin: 16px 0;
}

.nogapmargin {
  gap: 0px;
  margin: 0px;
}
.warning-text {
  color: red;
  text-shadow: 0 0 10px red;
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border-dark-1);
  margin: var(--spacing-xs) 0 0 0;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
progress.hp-bar,
progress.mp-bar {
  height: 4px;
  margin: var(--spacing-xs) 0 var(--spacing-sm) 0;
}
progress.hp-bar::-webkit-progress-value {
  background-color: var(--color-hp-meter);
}
progress.hp-bar::-moz-progress-bar {
  background-color: var(--color-hp-meter);
}
progress.mp-bar::-webkit-progress-value {
  background-color: var(--color-mp-meter);
}
progress.mp-bar::-moz-progress-bar {
  background-color: var(--color-mp-meter);
}
.nobreak {
  white-space: nowrap;
}


/* Styles limited to sw25 sheets */

/* General sheet elements */
.sw25 .adjustable-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sw25 .adjustable-container input {
  flex: 0 0 2rem;
  text-align: center;
}
.sw25 .adjustable-container .adjustment-button {
  margin: 0 var(--spacing-xs);
}
.sw25 .item-form {
  font-family: "Roboto", sans-serif;
}
.sw25 .sheet-header {
  flex: 0 auto;
  overflow: hidden;
}
.sw25 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.sw25 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.sw25 .sheet-tabs {
  flex: 0;
}
.sw25 .sheet-body,
.sw25 .sheet-body .tab {
  height: auto;
}
.sw25 .sheet-body .tab .editor {
  height: 100%;
  min-height: 100px;
}
.sw25 .tox .tox-editor-container {
  background: #fff;
}
.sw25 .tox .tox-edit-area {
  padding: 0 8px;
}
.sw25 .abilities .grid.grid-5col {
  grid-template-columns: repeat(4, minmax(0, 1fr)) 2fr;
  gap: var(--spacing-xs);
  margin: 0;
}
.sw25 .racevalue-input {
  height: calc(100% - 17px);
}
.sw25 .resource-input {
  font-size: 0.7rem;
  height: 1.5rem;
}
.sw25 .resource-label {
  font-weight: bold;
}
.sw25 .resource-label-s {
  font-size: 0.7em;
}
.sw25 .growth-label {
  line-height: 11px;
  vertical-align: middle;
}
.sw25 .resource-label-l {
  font-weight: bold;
  font-size: 1.2em;
}
.sw25 .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.sw25 .items-header > * {
  font-size: 14px;
  text-align: center;
}
.sw25 .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.sw25 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.sw25 .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sw25 .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.sw25 .items-list .item-name h3, .sw25 .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.sw25 .items-list .item-controls {
  display: flex;
  flex: 0 0 60px;
  justify-content: flex-end;
}
.sw25 .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.sw25 .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.sw25 .items-list .item:last-child {
  border-bottom: none;
}
.sw25 .items-list .item .item-name {
  color: #191813;
}
.sw25 .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.sw25 .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sw25 .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.sw25 .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.sw25 .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.sw25 .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.sw25 .item-skilllevel .item-scmod .item-checkmod {
  flex: 0 0 70px;
  padding: 0 8px;
}
.sw25 .item-element {
  flex: 0.5 4 10px;
  padding: 0 2px;
}
.sw25 .item-description {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}

.sw25 .effects .item .effect-source,
.sw25 .effects .item .effect-duration,
.sw25 .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sw25 .effects .item .effect-controls {
  border: none;
}

/* Character sheet */
.sw25 .sheet-header .adventurer-details {
  align-self: flex-start;
  flex: 0 0 105px;
  margin-right: var(--spacing-sm);
}
.sw25 .sheet-header .adventurer-details .adventurer-level {
  font-size: 1.6rem;
  font-weight: bold;
}
.sw25 .sheet-header .profile-img {
  height: 100px;
  margin: 0;
}
.sw25 .sheet-header .header-fields {
  align-self: flex-start;
}
.sw25 .sheet-header .header-fields .character-details {
  flex: 0 0 300px;
}
.sw25 .sheet-header .header-fields .character-details .character-name,
.sw25 .sheet-header .header-fields .character-details .character-details-secondary,
.sw25 .sheet-header .header-fields .character-details .character-details-tertiary {
  margin: 0 var(--spacing-xs);
}
.sw25 .sheet-header .header-fields .character-details .character-race {
  flex: 0 0 60%;
}
.sw25 .sheet-header .header-fields .character-details .character-age {
   flex: 0 0 15%;
}
.sw25 .sheet-header .header-fields .character-details .character-gender {
  flex: 0 0 25%;
}
.sw25 .sheet-header .header-fields .character-details .character-rank {
  flex: 0 0 50%;
}
.sw25 .sheet-header .header-fields .character-details .character-fumble {
  flex: 0 0 25%;
}
.sw25 .sheet-header .header-fields .character-details .character-impurity {
  flex: 0 0 25%;
}
.sw25 .sheet-header .header-resources {
  margin: 0 var(--spacing-xs);
  min-height: 125px;
  position: relative;
}
.sw25 .sheet-header .header-fields .resources.grid {
  grid-template-columns: 24px 1fr auto;
  gap: 0 var(--spacing-xs);
  margin: 0;
}
.sw25 .sheet-header .header-resources label {
  height: var(--form-field-height);
  line-height: var(--form-field-height);
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources .current-max-resource {
  display: inline-block;
}
.sw25 .sheet-header .header-resources input {
  text-align: center;
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources .resources input[type="number"] {
  width: 2.5rem;
}
.sw25 .sheet-header .header-resources .character-resources {
  position: absolute;
  bottom: var(--spacing-xs);
}

.sw25 .desc {
  text-indent: 1em;
}

.sw25 .box h3 {
  margin: 1.3em .3em 0;
  line-height: 1.2;
  font-size: 110%;
  font-weight: bold;
}
.sw25 .box h4 {
  position: relative;
  margin: 1.3em .5em 0;
  line-height: 1.2;
  font-size: 105%;
  font-weight: bold;
}

.sw25 .sheet-header .header-fields .character-details .monster-weakness {
   flex: 0 0 100%;
}

.sw25 .sheet-header .header-fields .monster-parameters {
  flex: 0 0 100%;
}

.sw25 .sheet-header .header-fields .monster-parameters .monster-popularity{
  flex: 0 0 65%;
}
.sw25 .sheet-header .header-fields .monster-parameters .monster-preemptive{
  flex: 0 0 35%;
}
.sw25 .sheet-header .header-fields .monster-parameters .monster-move{
  flex:0 0 100%;
}

.sw25 .sheet-header .header-fields .monster-parameters .monster-pp,
.sw25 .sheet-header .header-fields .monster-parameters .monster-mpp{
  flex: 0 0 15%;
  text-align: center;
}

.sw25 .monster-label {
  font-weight: bold;
}

.sw25 .monster-value {
  font-size: 1.2rem;
}

.sw25 .monster-small {
  font-size: 0.9rem;
}
.sw25 .sheet-header .header-resources-m {
  margin: 0 var(--spacing-xs);
  position: relative;
}
.sw25 .sheet-header .header-resources-m label {
  height: var(--form-field-height);
  line-height: var(--form-field-height);
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources-m .current-max-resource {
  display: inline-block;
}
.sw25 .sheet-header .header-resources-m input {
  text-align: center;
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources-m .resources input[type="number"] {
  width: 2.5rem;
}
.sw25 .sheet-header .header-resources-m .character-resources {
  position: absolute;
  bottom: var(--spacing-xs);
}
.sw25 .sheet-header header-resources-m .character-details-secondary {
  margin: 0 var(--spacing-xs);
}

input.weakapply[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  vertical-align: -5px;
}
