@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Variables */
:root {
  --spacing-xxs: .1rem;
  --spacing-xs: .2rem;
  --spacing-sm: .4rem;
  --spacing-md: .8rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 3.2rem;
  --color-hp-meter: #6bb338;
  --color-mp-meter: #08acff;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.powerrollable:hover, .powerrollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.applyeffect:hover, .applyeffect:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.mpcost:hover, .mpcost:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.resourcecost:hover, .resourcecost:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.lootrollable:hover, .lootrollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.quantitychange:hover, .quantitychange:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}


.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--spacing-sm);
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-row-span-2 {
  grid-row-end: span 2;
}

.grid-powertable {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
}
.pt-item {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.pt-label {
  background-color: black;
  color: white;
}


.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-group-top {
  align-content: flex-start;
  align-items: start;
}

.flex-group-bottom {
  align-content: flex-end;
  align-items: end;
}


.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.align-top {
  align-content: flex-start;
  text-align: center;
}

.align-bottom {
  align-content: flex-end;
  text-align: center;
}

.textalign-left {
  text-align: left;
}

.textalign-center {
  text-align: center;
}

.textalign-right {
  text-align: right;
}

.nogap {
  gap: 0px;
}

.gap-s {
  gap: 1px;
}

.gap-m {
  gap: 5px;
}

.gap-l {
  gap: 10px;
}

.nomargin {
  margin: 0px;
}

.margin-s {
  margin: 2px 0;
}

.margin-m {
  margin: 8px 0;
}

.margin-l {
  margin: 16px 0;
}

.margin-top-s {
  margin-top: 2px;
}

.margin-top-m {
  margin-top: 8px;
}

.margin-top-l {
  margin-top: 16px;
}

.margin-bottom-s {
  margin-bottom: 2px;
}

.margin-bottom-m {
  margin-bottom: 8px;
}

.margin-bottom-l {
  margin-bottom: 16px;
}

.margin-left-s {
  margin-left: 2px;
}

.margin-left-m {
  margin-left: 8px;
}

.margin-left-l {
  margin-left: 16px;
}

.margin-right-s {
  margin-right: 2px;
}

.margin-right-m {
  margin-right: 8px;
}

.margin-right-l {
  margin-right: 16px;
}

.padding-s {
  padding: 2px;
}

.padding-m {
  padding: 8px;
}

.padding-l {
  padding: 16px;
}

.padding-top-s {
  padding-top: 2px;
}

.padding-top-m {
  padding-top: 8px;
}

.padding-top-l {
  padding-top: 16px;
}

.padding-bottom-s {
  padding-bottom: 2px;
}

.padding-bottom-m {
  padding-bottom: 8px;
}

.padding-bottom-l {
  padding-bottom: 16px;
}

.padding-left-s {
  padding-left: 2px;
}

.padding-left-m {
  padding-left: 8px;
}

.padding-left-l {
  padding-left: 16px;
}

.padding-right-s {
  padding-right: 2px;
}

.padding-right-m {
  padding-right: 8px;
}

.padding-right-l {
  padding-right: 16px;
}

.inline-block {
  display: inline-block;
}

.nogapmargin {
  gap: 0px;
  margin: 0px;
}
.warning-text {
  color: red;
  text-shadow: 0 0 10px red;
  font-weight: bold;
}

.level-container {
  flex: initial;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 25px;
  margin-left: auto;
}
.level-container i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}
.level-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
  font-size: 0.7rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(169, 169, 169, 0.7);
  z-index: 2;
}
.level-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  z-index: 3;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-border-dark-1);
  margin: var(--spacing-xs) 0 0 0;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
.hp-progress-bar, .mp-progress-bar {
  position: relative;
}
.hp-progress-bar progress, .mp-progress-bar progress {
  height: 18px;
  border: 1px solid black;
  border-radius: 7px;
}
progress.hp-bar::-webkit-progress-bar, progress.hp-bar::-webkit-progress-value {
  border-radius: 5px;
}
progress.mp-bar::-webkit-progress-bar, progress.mp-bar::-webkit-progress-value {
  border-radius: 5px;
}
progress.hp-bar::-webkit-progress-value {
  background-color: var(--color-hp-meter);
}
progress.hp-bar::-moz-progress-bar {
  background-color: var(--color-hp-meter);
}
progress.mp-bar::-webkit-progress-value {
  background-color: var(--color-mp-meter);
}
progress.mp-bar::-moz-progress-bar {
  background-color: var(--color-mp-meter);
}
.nobreak {
  white-space: nowrap;
}


/* Styles limited to sw25 sheets */

/* General sheet elements */

.sw25 .window-content {
  padding: 0;
}

.sw25 .adjustable-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sw25 .adjustable-container input {
  flex: 0 0 2rem;
  text-align: center;
}
.sw25 .adjustable-container .adjustment-button {
  margin: 0 var(--spacing-xs);
}
.sw25 .item-form {
  font-family: "Roboto", sans-serif;
}
.sw25 .sheet-header {
  flex: 0 auto;
  overflow: hidden;
}
.sw25 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.sw25 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.sw25 .sheet-tabs {
  flex: 0;
}
.sw25 .sheet-tabs.tabs {
  border: 0;
  flex-wrap: wrap;
}

.sw25 .sheet-tabs > .item {
  flex: 1;
  border-bottom: 1px solid var(--color-border-dark-1);
  cursor: pointer;
}

.sw25 .sheet-tabs > .item.active {
  font-weight: bold;
  text-shadow: none;
  border-top: 1px solid var(--color-border-dark-1);
  border-right: 1px solid var(--color-border-dark-1);
  border-left: 1px solid var(--color-border-dark-1);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sw25 .sheet-tabs > .item.active:first-child {
  border-top-left-radius: 0px;
  border-left: none;
}

.sw25 .sheet-tabs > .item.active:last-child {
  border-top-right-radius: 0px;
  border-right: none;
}

.sw25 .sheet-body {
  padding: 5px;
}

.sw25 .sheet-body,
.sw25 .sheet-body .tab {
  height: auto;
}
.sw25 .sheet-body .tab .editor {
  height: 100%;
  min-height: 100px;
}
.sw25 .tox .tox-editor-container {
  background: #fff;
}
.sw25 .tox .tox-edit-area {
  padding: 0 8px;
}
.sw25 .abilities .grid.grid-5col {
  grid-template-columns: repeat(4, minmax(0, 1fr)) 2fr;
  gap: var(--spacing-xs);
  margin: 0;
}
.sw25 .racevalue-input {
  height: calc(100% - 17px);
}
.sw25 .resource-input {
  font-size: 0.7rem;
  height: 1.5rem;
}
.sw25 .resource-label {
  font-weight: bold;
}
.sw25 .resource-label-s {
  font-size: 0.7em;
}
.sw25 .growth-label {
  line-height: 11px;
  vertical-align: middle;
}
.sw25 .resource-label-l {
  font-weight: bold;
  font-size: 1.2em;
}
.sw25 .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.sw25 .items-header > * {
  font-size: 14px;
  text-align: center;
}
.sw25 .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.sw25 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.sw25 .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sw25 .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.sw25 .items-list .item-name h3, .sw25 .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.sw25 .items-list .item-controls {
  display: flex;
  flex: 0 0 60px;
  justify-content: flex-end;
}
.sw25 .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.sw25 .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.sw25 .items-list .item:last-child {
  border-bottom: none;
}
.sw25 .items-list .item .item-name {
  color: #191813;
}
.sw25 .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.sw25 .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sw25 .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.sw25 .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.sw25 .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.sw25 .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.sw25 .item-skilllevel .item-scmod .item-checkmod {
  flex: 0 0 70px;
  padding: 0 8px;
}
.sw25 .item-element {
  flex: 0.5 4 10px;
  padding: 0 2px;
}
.sw25 .item-description {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}
.sw25 .spell-description {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}

.sw25 .effects .item .effect-source,
.sw25 .effects .item .effect-duration,
.sw25 .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sw25 .effects .item .effect-controls {
  border: none;
}

/* Character sheet */
.sw25 .sheet-header {
  padding: 8px;
}

.sw25 .sheet-header .adventurer-details {
  align-self: flex-start;
  flex: 0 0 150px;
  margin-right: var(--spacing-sm);
}

.sw25 .sheet-header .monster-details {
  align-self: flex-start;
  flex: 0 0 120px;
  margin-right: var(--spacing-sm);
}

.sw25 .sheet-header .adventurer-details .profile-img,
.sw25 .sheet-header .monster-details .profile-img {
  height: 80%;
  width: 80%;
  border-radius: 5%;
  margin: 0;
}
.sw25 .sheet-header .header-fields {
  align-self: flex-start;
}

.sw25 .sheet-header .header-fields .character-details input{
  border:  0;
  background: none;
}

.sw25 .sheet-header .header-fields .character-details input:hover{
  box-shadow: 0 0 5px var(--color-shadow-primary);
}

.sw25 .sheet-header .header-fields .character-details .character-name input{
  font-weight: bold;
  height: max-content;
  padding: 0;
}

.sw25 .sheet-header .header-fields .character-details .character-grace {
  flex:initial;
  margin-right: 25px;
  margin-left: auto;
}

.sw25 .sheet-header .header-fields .character-details .character-al label{
  height: max-content;
  width: max-content;
}

.sw25 .sheet-header .header-fields .character-details .character-race {
  flex: 6 0 150px;
}
.sw25 .sheet-header .header-fields .character-details .character-age {
  flex: 4 0 100px;
}
.sw25 .sheet-header .header-fields .character-details .character-gender {
  flex: 4 0 100px;
}
.sw25 .sheet-header .header-fields .character-details .character-impurity {
  flex: 3 0 75px;
}
.sw25 .sheet-header .header-fields .character-details .character-fumble {
  flex: 3 0 75px;
}
.sw25 .sheet-header .header-fields .character-details .character-rank {
  flex: 6 0 150px;
}
.sw25 .sheet-header .header-fields .character-details .character-honor {
  flex: 4 0 100px;
}
.sw25 .sheet-header .header-fields .character-details .character-blank {
  flex: 6 0 150px;
}
.sw25 .sheet-header .header-fields .character-details .character-experience {
  flex: 4 0 100px;
  margin-left: auto;
}

.sw25 .sheet-header .header-resources {
  margin: 0 var(--spacing-xs);
  position: relative;
  margin-top: -12%;
}
.sw25 .sheet-header .header-fields .resources.grid {
  grid-template-columns: 24px 1fr auto;
  gap: 0 var(--spacing-xs);
  margin: 0;
}
.sw25 .sheet-header .header-resources label {
  height: var(--form-field-height);
  line-height: var(--form-field-height);
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources .current-max-resource {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.sw25 .sheet-header .header-resources input {
  border: 0;
  background: none;
}
.sw25 .sheet-header .header-resources input:hover {
  box-shadow: 0 0 5px var(--color-shadow-primary);
}
.sw25 .sheet-header .header-resources .current-max-resource input {
  color: white;
}

.sw25 .sheet-header .header-resources .current-max-resource span {
  vertical-align: middle;
}

.sw25 .sheet-header .header-resources input {
  text-align: center;
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources .resources input[type="number"] {
  width: 2rem;
  text-align: right;
}
.sw25 .sheet-header .header-resources .character-resources {
  position: absolute;
  bottom: var(--spacing-xs);
}

.sw25 .sheet-header .header-resources .character-resources .character-al .adventurer-level {
  display: block;
}

.sw25 .desc {
  text-indent: 1em;
}

.sw25 .box h3 {
  margin: 1.3em .3em 0;
  line-height: 1.2;
  font-size: 110%;
  font-weight: bold;
}
.sw25 .box h4 {
  position: relative;
  margin: 1.3em .5em 0;
  line-height: 1.2;
  font-size: 105%;
  font-weight: bold;
}
.sw25 .sheet-header .header-fields .monster-parameters {
  height: 70%;
}

.sw25 .sheet-header .header-fields .monster-parameters .flexrow {
  align-content: center;
}
.sw25 .sheet-header .header-fields .monster-parameters .monster-pp,
.sw25 .sheet-header .header-fields .monster-parameters .monster-mpp{
  flex: 0 0 50px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}
.sw25 .sheet-header .header-fields .monster-parameters .monster-blank{
  flex: 1;
}
.sw25 .sheet-header .header-fields .monster-parameters .monster-loot{
  display: flex;
  flex: 0 0 60px;
  align-items: center;
  margin-left: auto;
}

.sw25 .monster-label {
  font-weight: bold;
}

.sw25 .monster-value {
  font-size: 1.2rem;
}

.sw25 .monster-small {
  font-size: 0.9rem;
}

.sw25 .sheet-header .header-resources-m {
  margin: 0 var(--spacing-xs);
  position: relative;
}
.sw25 .sheet-header .header-resources-m label {
  height: var(--form-field-height);
  line-height: var(--form-field-height);
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources-m .current-max-resource {
  display: inline-block;
}
.sw25 .sheet-header .header-resources-m input {
  text-align: center;
  vertical-align: middle;
}
.sw25 .sheet-header .header-resources-m .resources input[type="number"] {
  width: 2.5rem;
}
.sw25 .sheet-header .header-resources-m .character-resources {
  position: absolute;
  bottom: var(--spacing-xs);
}
.sw25 .sheet-header header-resources-m .character-details-secondary {
  margin: 0 var(--spacing-xs);
}
.fontsize11{
  font-size: 1.1rem
}
.fontsize12{
  font-size: 1.2rem
}
.fontsize13{
  font-size: 1.3rem
}
.fontsize14{
  font-size: 1.4rem
}
.fontsize15{
  font-size: 1.5rem
}
.fontsize16{
  font-size: 1.6rem
}
.fontsize17{
  font-size: 1.7rem
}
.fontsize18{
  font-size: 1.8rem
}
.fontsize19{
  font-size: 1.9rem
}
.fontsize20{
  font-size: 2.0rem
}
.growth{
  padding: 0.5em;
  margin: auto auto;
  color: #60A0f0;
  background: #FFF;
  border: solid 3px #60A0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.growth .before{
  font-weight: bold;
  color: #0f6f0f;
}
.growth .after{
  font-weight: bold;
  color: #862020;
}

.success {
  color: #0f6f0f;
  font-size:0.7em;
}
.failed {
  color: #862020;
  font-size:0.7em;
}

input.weakapply[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  vertical-align: -5px;
}

.dialog-buttons {
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 5px;
}
.dialog-content {
  padding-bottom: 50px;
}
.dialog-buttons .buttonloot, .dialog-buttons .cancel {
  height: 35px;
  text-align: center;
}

.growth-button {
  width: 35%;
  margin-left: 20%;
  margin-top: 10px;
  border:1px solid #000;
  border-radius: 5px;
  text-align:center;
  display: block;
}

.diceresult-apply {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diceresult-total {
  flex-grow: 1;
  text-align: center;
}
.result-change {
  flex-grow: 0;
  flex-shrink: 0;
  width: 25%;
  text-align: center;
}
.half-button {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.small-checkitem {
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  font-size: 0.8em;
  font-weight: bold;
}

.small-checkbox{
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform-origin: bottom right; 
}