{{#if flavor}}<span class="flavor-text">{{flavor}}</span>{{/if}}
<div style="text-align: left;">
    {{{transferEffectName}}}
    <div style="text-align: right; font-size: 0.7em;">{{{targetActorName}}}</span></div>
</div>
